<head>
    <link rel="stylesheet" type="text/css" href="/public/public/css/landing.css">
    <link rel="stylesheet" type="text/css" href="/public/public/css/home_page.css">
    <link rel="stylesheet" type="text/css" href="/public/public/css/user_profile.css">
    <link rel="stylesheet" type="text/css" href="/public/public/css/friends.css">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="/socket.io/sockt.io.js"></script>
    <title>
        Node Connect
    </title>
</head>