<html>
    <%include partials/header%>
    <body class="landing_body">
        <h1 id="landing_header">Node Connect</h1>
        <div id="sign_up_div">
            <form id="sign_up_form">
                <h2>Sign Up</h2>
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="text" id="email" name="email" placeholder="email address">
                <input type="password" id="password" name="password" placeholder="password">
                <input id="register_user" type="button" value="register">
            </form>
        </div>
        <div id="sign_in_div">
            <form id="sign_in_form">
                <h2>Sign In</h2>
                <input type="text" id="usr_email" name="email" placeholder="email address">
                <input type="text" id="usr_pwd" name="password" placeholder="password">
                <input id="sign_in_user" type="button" value="Sign In">
            </form>
        </div>
    </body>
    <script>
        $("#register_user").on("click",function(){
           $.ajax({
               method: "POST",
               url: "/sign_up",
               data: $("#sign_up_form").serialize(),
               success: function(){
                   console.log("success");
               }
           }) 
        });
    </script>
</html>